.form {
  padding: 12px;
}

a {
  color: var(--hover-color);
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

.title {
  text-align: center;
  font-size: 27px;
  color: var(--secondary-color);
}
