.App {
  text-align: center;
}

.app {
  background-color: var(--primary-color) /*#2a2c47*/;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@media screen and (max-width: 450px) {
  .app {
    min-height: 100vh;
  }
}

@media screen and (min-width: 451px) and (max-width: 900px) {
  .app {
    min-height: 100vh;
  }
}

@media screen and (min-width: 901px) and (max-width: 1920px) {
  .app {
    min-height: 100vh;
  }
}
