:root {
  /*--primary-color: rgb(57, 182, 184);
  --secondary-color: rgb(216, 43, 0);*/

  /*--primary-color: #657a97;
  --secondary-color: #2b4f71*/

  /*--primary-color: #43506c;
  --secondary-color: #3d619b;*/

  /*--primary-color: #a163f7;
  --secondary-color: #45e3ff;*/

  --primary-color: #230350;
  --secondary-color: #24cbe9;
  --hover-color: #08b1cf;
  --disabled-color: #037e94;
}

@viewport {
  width: device-width;
  user-zoom: fixed;
  zoom: 1;
  min-zoom: 0.5;
  max-zoom: 4;
  orientation: portrait;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
